body{

  width: 100%;
  min-height: 100%;
  margin:0;
  padding: 0;

  background-color: #DEB887;
  font-family: Helvetica Neue;
  font-weight: lighter;

}


/******NAVBAR******/
.navbar{
  width: 80%;
  margin:0 auto;
}
#header {
  background-color: #000;
}
#header::after {
  content: '';
  display: table;
  clear: both;
}
 .navbar h1{
  text-shadow: #DEB887 1px -3px;
  color: white;
  float: left;
  margin: 10px auto;
  padding: 0;
}
.navbar h1 a{
  color: white;
  text-decoration: none;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 15px;
  position: relative;
}
nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
nav a:hover {
  color: #DEB887;
}
nav a::before {
  content: '';
  display: block;
  height: 2px;
  background-color: #DEB887;
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}
/******FRONTPAGE******/

.topimages{
  width:80%;
  height: 20em;
  margin: 0 auto;
  overflow: hidden;
}
 .topimages .topimagesleft{
  width:50%;
  height: 60%;
  position: absolute;
  left: 0;
  border-bottom: 3px solid black;
  margin:0;
  padding:0;
}
.topimages .topimagesleft #backgroundmain{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
.topimages .topimagesleft #samfender{
  width: 300px;
  height:200px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-60%);
}
.topimages .topimagesleft h1{
  font-family: Garamond;
  font-size: 48pt;
  color: #DEB887;
  font-weight: 100;
  position: absolute;
  text-align: center;
  top:0;
  left: 40px;
}
.topimages .topimagesleft h2{
  font-family: Garamond;
  font-size: 48pt;
  color: #DEB887;
  font-weight: 100;
  position: absolute;
  text-align:  center;
  top:55%;
  left:50%;
  transform: translate(-50%);
}
.topimages .topimagesright{
  position: absolute;
  right: 0;
  width:50%;
  height:60%;
  margin:0;
  padding:0;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}
.topimages .topimagesright h1{
  font-family: Garamond;
  font-size: 48pt;
  font-weight: 400;
  line-height: 50px;
  color: #A0522D;
  font-weight: 100;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-100%,-10%);
}
.topimages .topimagesright h2{
  font-family: Garamond;
  font-size: 32pt;
  color: #DEB887;
  position: absolute;
  text-align: center;
  top:50px;
  right: 50px;
}
.topimages .topimagesright h3{
  font-family: Garamond;
  font-size: 32pt;
  color: #DAA520;
  position: absolute;
  text-align: center;
  top:-30px;
  right: 420px;
}
@media screen and (max-width: 1000px){
  #seriestowatch,#editorspicks,#thisweekinmusic{
    display:none;
  }
  .topimages .topimagesleft{
    width:100%;
    height:450px;
  }
  .topimages .topimagesleft h1{
    margin:auto;
    text-align: center;
  }
  .topimages .topimagesleft h2{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,100%);
  }
  .topimages .topimagesright{
    border-bottom: none;
    border-left: none;
  }
  .topimages .topimagesright h1,.topimagesright h2,.topimagesright h3{
    display:none;
  }
}
.topimages .topimagesright #thisweekinmusic{
  margin:0;
  padding:0;
  width:50%;
  height: 40%;
}
.topimages .topimagesright #seriestowatch{
  border-left: 3px solid black;
  margin:0;
  padding:0;
  position: absolute;
  top:0;
  right:0;
  width:50%;
  height:100%;
}
.topimages .topimagesright #editorspicks{
  border-top: 3px solid black;
  margin:0;
  padding:0;
  width: 50%;
  height: 60%;
  position: absolute;
  left:0;
  bottom: 0;
}
.frontpages{
  height: 60px;
  margin: auto 5%;
  width: 90%;
  position: absolute;
  top: 1100px;
}
.frontpages button{
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 16pt;
  outline: none;
  color: #DEB887;
  float: left;
  width: 33.33%;
  height:50px;
  padding: 0;
  margin:0;
  border: none;
  background-color: #162229;
}
.frontpages button:hover{
  background-color: #DEB887;
  color: #CD853F;
}
@media screen (max-width:1000px) {
   .frontpages button{display:block;}
}
.middlemenu{
  width: 90%;
  height: 500px;
  margin: auto 5%;
  position: absolute;
  top:35em;
  background-color: #DEB887;
}
.column {
  float: left;
  width: 33.33%;
  padding: 0;
  margin:0;
  height: 500px;
}
.column h1{
  font-family: Garamond;
  font-size: 48pt;
  color: blue;
  text-align: center;
  padding: 110px 0;
}
.column2{
  float: left;
  width: 30%;
  padding: 0 5px;
  margin-left:30px;
  margin-bottom:0;
}
.column2 img{
  height: 300px;
}
.column2 .goto{
  background-color: #D2B48C;
  margin-top: 0;
  padding:0;
  margin-bottom: 5px;
  height: 40px;
  font-family: Helvetica;
  font-size: 26pt;
  text-align: center;
}
.column2 .goto a{
  text-decoration: none;
  color: #000;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.latest{
  width: 100%;
  height: 500px;
  margin-bottom:50px;
  position: absolute;
  top: 1200px;
  background-color: #162229;
}
.latest h1{
  text-align: center;
  margin-top: 3px;
  font-family: Garamond;
  font-size: 40pt;
  color: white;
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  .row #c1 {
    width: 100%;

  }
  .row #c2 {
    display: none;
  }
  .row #c3 {
    display: none;
  }
  .column2{
    width: 50%;
    margin:auto 25%;

  }
  .latest{
    background-color: #DEB887;
  }
}


.sitewidth{
  min-height: 100%;
  margin-bottom: 10em;
}


.wrapper{

  min-height: 100%;
  margin-bottom: 100%;

}
.empty{
  height: 50px;
  background-color: #DEB887;
  margin:0;
  padding: 0;
}








/******ARTICLE******/
article{
  background-color: #162229;
  padding: 20px 30px;
  margin: 20px auto;

  font-family: Helvetica Neue;

  line-height: 1.5;
  font-size: 18px;
  color: #FFF;
  max-width: 70%;
}

article header{
  font-family: Garamond ;
  line-height: 1.5;
  font-size: 48px;
  text-align: center;

}
article .text{
  padding: 20px 100px;
  text-align: center;
}
article .text h4{
  text-align: center;
  margin: auto;
  padding: 40px;

  font-family: Garamond;
  font-weight: lighter;
  font-size: 20pt;

}
article .text img{
  display: block;
  margin: auto;
  justify-content: center;
  border-radius: 100%;
  width:250px;
  height: 250px;

}
.top img{
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin:0;
  padding:0;

}

#background{

  margin: 20px auto;
  display: block;
  justify-content: center;
  width: 74%;
  position:relative;
  }
#samfender{
    width: 450px;
    height:400px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-35%);
}
.image > h2{
  position: absolute;
  top: 40px;
  left:210px;

  color: #FFF;
  font-family: Garamond;
  font-size: 48pt;

}
.image #editheadline{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 64pt;
  color: #A0522D;
}
.image > h3{
  position: absolute;
  top: 120px;
  left: 450px;
  color: #FFF;
  font-family: Garamond;
  font-size: 48pt;



}
.image > h4{
  position: absolute;
  top: 570px;
  left: 550px;;

  color: #FFF;
  font-family: Garamond;
  font-size: 48pt;

}
iframe{
  display: block;
  justify-content: center;
  margin:auto;
  padding-bottom: 20px;
}

/******FOOTER******/
footer h2 {
  font-family: Garamond;
}

footer button {
  background-color: #3D93C2;
  font-family: Helvetica Neue;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  margin-right: 10px;
}

.foot1 {
  font-family: Helvetica;
  color: white;
}
.foot{
  position:absolute;
  top:100%;
  width:100%;
  height:200px;
}

footer {
  background-color: #162229;
  width: 100%;
  height: 200px;
  position: absolute;
  text-align: center;
  font-family: Garamond;

}
footer h1{
  font-family: Helvetica;
  text-shadow: #DEB887 2px -3px;
}

footer #email {
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  background-color: #969696;
  border: none;
  height: 28px;
  font-family: Helvetica Neue, Helvetica;
}

footer #subtext {
  color: #969696;
  margin-left: 10px;
  margin-bottom: 5px;
  font-family: Helvetica Neue, Helvetica;
}

footer #thanks {
  color: #969696;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: Helvetica Neue, Helvetica;
}

footer form {
  float: right;
}
/*footer input[type="email"]{
  width:250px;
}
*/
@media screen and (max-width:1000px) {
  .latest{
    top: 80em;
  }
  .empty{
    height:80em;
  }
}
