body{

  width: 100%;
  margin:0;
  padding: 0;
  font-family: Helvetica Neue;
  font-weight: lighter;
}
.navbar{

  width: 80%;
  margin:0 auto;


}header {
  background-color: #000;
}

header::after {
  content: '';
  display: table;
  clear: both;
}
 h1{
  text-shadow: #28546C 1px -3px;
  color: white;
  float: left;
  margin: 10px auto;
  padding: 0;

}
h1 a{
  color: white;
  text-decoration: none;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {

  display: inline-block;
  margin-left: 70px;
  padding-top: 15px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: #28546C;
}

nav a::before {
  content: '';
  display: block;
  height: 2px;
  background-color: #28546C;

  position: absolute;
  bottom: 0;
  width: 0%;

  transition: all ease-in-out 250ms;

}

nav a:hover::before {
  width: 100%;
}
