body {
  background-color: #28546C;
  font-family: Helvetica Neue;
  text-align: center;

}

h2 {
  font-family: Garman;
}

button {
  background-color: #3D93C2;
  font-family: Helvetica Neue;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  margin-right: 10px;
}

.foot1 {
  font-family: Helvetica;
  color: white;

}

footer {
  background-color: #162229;
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;

}

#email {
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  background-color: #969696;
  border: none;
  height: 28px;
}

#subtext {
  color: #969696;
  margin-left: 10px;
  margin-bottom: 5px;
}

#thanks {
  color: #969696;
  margin-left: 10px;
}

form {
  float: right;
}
